.swiper {
  margin: 20px 5px;
}

.swiper-img-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
}

.swiper-img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.swiper-img-modal {
  border-radius: 10px;
  max-width: calc(0.7 * 100vw);
  max-height: calc(0.6 * 100vh);
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 20px;
}

.swiper-button-prev {
  background-image: url("icons/arrow-prev.png");
}

.swiper-button-next {
  background-image: url("icons/arrow-next.png");
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
